In [1]:
import pandas as pd
df=pd.read_csv('/Users/richa/Desktop/python/jupyter_notebooks/datasource/weather_data.csv')
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

# To get number of rows and columns in dataframe

In [2]:
rows, column = df.shape
rows

6

In [3]:
column

4

# To use indexing and slicing of dataframe

In [4]:
df[2:5] # to get rows 2,3 and 4. (doesn't includes 5th row)

        day  temperature  windspeed event
2  1/3/2017           28          2  Snow
3  1/4/2017           24          7  Snow
4  1/5/2017           32          4  Rain

In [5]:
df.columns # to get all the available columns in dataframe

Index(['day', 'temperature', 'windspeed', 'event'], dtype='object')

In [6]:
df.event # df['event'] is same as df.event to get values of one column

0     Rain
1    Sunny
2     Snow
3     Snow
4     Rain
5    Sunny
Name: event, dtype: object

In [7]:
type(df['event']) # to the type of columns which should belong to pandas series

pandas.core.series.Series

In [8]:
# To get few columns for the dataframe
df[['event','day']]

   event       day
0   Rain  1/1/2017
1  Sunny  1/2/2017
2   Snow  1/3/2017
3   Snow  1/4/2017
4   Rain  1/5/2017
5  Sunny  1/6/2017

In [9]:
# to get minimum value of temperature column
df['temperature'].min()

24

In [10]:
# to get maximum value of temperature column
df['temperature'].max()

35

In [11]:
# to get average/mean value of temperature column
df['temperature'].mean()

30.333333333333332

In [12]:
# df.describe() function returns all the analytical function value for all the integer columns in a dataframe
df.describe()

       temperature  windspeed
count     6.000000   6.000000
mean     30.333333   4.666667
std       3.829708   2.338090
min      24.000000   2.000000
25%      28.750000   2.500000
50%      31.500000   5.000000
75%      32.000000   6.750000
max      35.000000   7.000000

In [13]:
#to get the column value through filter condition
df[df['temperature']>=30]

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [14]:
df[df['temperature']==df['temperature'].max()] # to get the row which has maximum Temperature

        day  temperature  windspeed  event
1  1/2/2017           35          7  Sunny

In [15]:
# if we want to print only two column in the above condition
df[['day','temperature']][df['temperature']==df['temperature'].max()] # to get the row which has maximum Temperature

        day  temperature
1  1/2/2017           35

In [16]:
df.index

RangeIndex(start=0, stop=6, step=1)

In [17]:
# to change the existing index
df.set_index('day')

          temperature  windspeed  event
day
1/1/2017           32          6   Rain
1/2/2017           35          7  Sunny
1/3/2017           28          2   Snow
1/4/2017           24          7   Snow
1/5/2017           32          4   Rain
1/6/2017           31          2  Sunny

In [18]:
df
#df.set_index('day') it doesnot changes the original dataframe it is returning new dataframe with set index

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow
3  1/4/2017           24          7   Snow
4  1/5/2017           32          4   Rain
5  1/6/2017           31          2  Sunny

In [19]:
#df.set_index('day', inplace=True) it changes the original dataframe index 
df.set_index('temperature',inplace=True)

In [20]:
df

                  day  windspeed  event
temperature
32           1/1/2017          6   Rain
35           1/2/2017          7  Sunny
28           1/3/2017          2   Snow
24           1/4/2017          7   Snow
32           1/5/2017          4   Rain
31           1/6/2017          2  Sunny

In [21]:
# to reset the original index
df.reset_index(inplace=True)

In [22]:
df

   temperature       day  windspeed  event
0           32  1/1/2017          6   Rain
1           35  1/2/2017          7  Sunny
2           28  1/3/2017          2   Snow
3           24  1/4/2017          7   Snow
4           32  1/5/2017          4   Rain
5           31  1/6/2017          2  Sunny

In [23]:
df

   temperature       day  windspeed  event
0           32  1/1/2017          6   Rain
1           35  1/2/2017          7  Sunny
2           28  1/3/2017          2   Snow
3           24  1/4/2017          7   Snow
4           32  1/5/2017          4   Rain
5           31  1/6/2017          2  Sunny